

#preloaded-font {
  font-family: '8bit_wonder';
  opacity:0;
  height:0;
  width:0;
  display:inline-block;
}

h1 {
  font-family: '8bit_wonder';
  color: white;
  font-size: 60px;
  position: absolute;
  bottom: 500px;
  left: 155px;
  font-weight: 100;
  text-shadow: 0px 0px 60px rgba(164, 204, 244, 0.5), 1px 1px 0px #84B0A0, 2px 2px 0px #84B0A0, 3px 3px 0px #84B0A0, 4px 4px 0px #84B0A0;
}

#game-end {
  font-size: 38px;
  left: 105px;
  bottom: 450px;
  display: none;
}

.wasd-img {
  position: absolute;
  width: 150px;
  margin-left: 6%;
  top: 420px;
}

h2, h3, li {
  font-family: '8bit_wonder';
  position: absolute;
  color: white;
}

h2 {
  font-size: 15px;
  top: 400px;
  left: 535px;
  width: 260px;
}

li {
  list-style: none;
  top: -170px;
  left: 520px;
  position: relative;
}

#controls {
  left: 100px
}

h3 {
  font-size: 14px;
  top: 535px;
  left: 70px;
}

.github-link {
  width: 35px;
  display: inline-block;
  top: 620px;
  position: absolute;
  left: 390px;
}

.github-img {
  width: 35px;
}

.easy {
  text-shadow: 0px 0px 60px rgba(164, 204, 244, 0.5), 1px 1px 0px #0b335b, 1px 1px 0px #0b335b, 2px 2px 0px #0b335b, 3px 3px 0px #0b335b;
}

.medium {
  text-shadow: 0px 0px 60px rgba(164, 204, 244, 0.5), 1px 1px 0px #84B0A0, 1px 1px 0px #84B0A0, 2px 2px 0px #84B0A0, 3px 3px 0px #84B0A0;
}

.hard {
  text-shadow: 0px 0px 60px rgba(164, 204, 244, 0.5), 1px 1px 0px #800000, 1px 1px 0px #800000, 3px 3px 0px #800000, 3px 3px 0px #800000;
}

ul {
  position: absolute;
}


@font-face {
    font-family: '8bit_wonder';
    src: url('./fonts/8-bit_wonder-webfont.woff') format('woff'),
         url('./fonts/8-bit_wonder-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

  
